
{% extends "wagtailadmin/base.html" %}
{% load wagtailadmin_tags static i18n %}
{% block titletag %}{% trans browser_title %}{% endblock %}


{% block content %}
    <header class="w-header w-header--merged">
        <div class="row row-flush">
            <div class="col">
                <h1 class="w-header__title">
                    <img src="{% avatar_url user %}" alt="" class="avatar"/>
                    Création d'{{ name }}
                </h1>
                <h2>{{ user.get_full_name|default:user.get_username }}</h2>
            </div>
        </div>
    </header>
    <div class="nice-padding">
        <ul class="listing cgs-quick">
            {% if parent_pages %}
            {% comment %} Choose a parent section for the new {% endcomment %}
                <div class="help-block help-info">
                     Choisissez l'instance associée à votre <strong>{{ model_verbose_name }}</strong>
                </div>
            {% else %}
                <p class="help-block help-warning">Il n'y a pas de section parent <strong>{{ model_verbose_name }}</strong> créées afin que les pages enfants puissent être ajoutées pour l'instant...</p>
            {% endif %}

            {% for page in parent_pages %}
                <li class="single" data-name="{{page.title}}" data-model="{{page.instance}}">
                    <a href="/admin/pages/add/{{model_app|lower}}/{{page.model|lower}}/{{page.id}}/" class="icon icon-plus-inverse icon-larger" alt="Création d'{{ name }}" title="Créer {{ name }} pour les {{ page.title }}">
                        <strong>{{ page.title }}</strong>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}
